@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary colors */
    --color-primary-50: #f0f9ff;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
    }
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .primary-500 {
    @apply bg-sky-500;
  }

  .primary-600 {
    @apply bg-sky-600;
  }

  .text-primary-500 {
    @apply text-sky-500;
  }

  .text-primary-600 {
    @apply text-sky-600;
  }

  .bg-primary-50 {
    @apply bg-sky-50;
  }

  .bg-primary-500 {
    @apply bg-sky-500;
  }

  .bg-primary-600 {
    @apply bg-sky-600;
  }

  .bg-primary-900 {
    @apply bg-sky-900;
  }

  .border-primary-500 {
    @apply border-sky-500;
  }

  .ring-primary-500 {
    @apply ring-sky-500;
  }

  .group-hover\:text-primary-500:hover {
    @apply group-hover:text-sky-500;
  }
}
